<div class="container">

  <div class="card-product">
    <div class="banner">
      <!-- <img src="https://unsplash.com/photos/c9N-57Is7LA" alt="cocktail pic"> -->
      <h1><%= @cocktail.name %></h1>
    </div>
    <div class="card-info">
      <div class="description">

      </div>
      <div class="ingredients">
        <ul>
        <!-- list doses -->
        <%  @cocktail.doses.each do |dose|%>

        <li><%= Ingredient.find(dose.ingredient_id).name %> -- <%= dose.description.upcase %><%= link_to "🗑", dose_path(dose.id), method: :delete %></li>
        <% end %>
        </ul>
      </div>

    </div>
  </div>

  <div class="doses-container">
    <div class="add-doses">
      <h4>Add more Doses:</h4>
      <div>
        <div class="new-simple-form">
          <%= simple_form_for [ @cocktail, @dose] do |f| %>
            <%= f.association :ingredient %>
            <%= f.input :description %>
            <%= f.submit "Add dose", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="back-to-cocktails">
    <%= link_to 'Back to Cocktails', cocktails_path, class: "btn btn-primary"  %>
  </div>
</div>

